<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Complaint Management System</title>
    <%- include('importcss.ejs') %>
</head>
<body>
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
        <%- include('Header.ejs')%>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <%- include('SideMenu.ejs')%>

        <!-- Container-fluid starts-->
            <div class="page-body" >
                <div class="container-fluid" >
                    <div class="col-sm-12">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <h5>Company details <a href="/dashboard/companyform" class="btn btn-primary">Add Company </a>  </h5>
                          </div>
                          <div class="card-block row">
                            <div class="col-sm-12 col-lg-12 col-xl-12">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead class="bg-primary">
                                    <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col">Company</th>
                                      <th scope="col">Company Name</th>
                                      <th scope="col">Company Email</th>
                                      <th scope="col">Company Contact</th> 
                                      <th scope="col">Action</th> 
                                      
    
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td ></td>
                                      <td>03331234567</td>
                                      <td>abc@gmail.com</td>
                                      <td>abc town</td>
                                     <td> <button class=" btn btn-primary"> View profile </button> </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>AWAIS</td>
                                      <td>03331234567</td>
                                      <td>abc@gmail.com</td>
                                      <td>abc town</td>
                                      <td> <button class=" btn btn-primary"> View profile </button> </td>
                                    </tr>
                                  

                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
            <!-- Container-fluid Ends-->
        </div>
    </div>
<%- include('importjs.ejs')%>


</body>
</html>
