<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Complaint Management System</title>
    <%- include('importcss.ejs') %>
</head>

<body>
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <%- include('Header.ejs') %>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <%- include('SideMenu.ejs') %>

        <!-- Container-fluid starts-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="col-xl-8" class="col-sm-12">
                    <form class="card" method="post">

                        <div class="card-header">
                            <h4 class="card-title mb-0">Add Company</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#"
                                                         data-toggle="card-collapse"><i
                                            class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#"
                                                                                data-toggle="card-remove"><i
                                            class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Company</label>
                                        <input class="form-control" type="text" name="name" placeholder="Company">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Service</label>
                                        <input class="form-control" name="service" type="text" placeholder="Service">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Email</label>
                                        <input class="form-control" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Password</label>
                                        <input class="form-control" type="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Address</label>
                                        <input class="form-control" type="text" placeholder="Home Address">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mb-3">
                                        <label class="form-label">City</label>
                                        <input class="form-control" type="text" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group mt-4">
                                        <label class="form-label">Image</label>
                                        <button class="btn btn-success"  type="button"  onclick="$('#image').click()"  >Image Upload</button>
                                        <input class="form-control" id="image" type="file" style="display: none"  name="image"  placeholder="image">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3 mb-0">
                                        <label class="form-label">About Company</label>
                                        <textarea class="form-control" rows="5"
                                            Image       placeholder="Enter About your description"></textarea>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button class="btn btn-primary" type="submit">Update Profile</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<%- include('importjs.ejs') %>


</body>

</html>
