<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Complaint Management System</title>
    <%- include('importcss.ejs') %>
</head>
<body>
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
        <%- include('Header.ejs')%>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <%- include('SideMenu.ejs')%>

        <!-- Container-fluid starts-->
            <div class="page-body" >
                <div class="container-fluid" >
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
<%- include('importjs.ejs')%>


</body>
</html>
